{% extends('layout.twig') %}

{% block title 'Boutique' %}

{% block content %}

  <h1>Boutique</h1>

  <div class="row">
    {% for product in products %}
    <div class="col-sm-4">
      <div class="card">
        {% if product.image %}
          <img style="width: 100%; height: auto;" class="card-img-top" src="{{ product.thumb }}" alt="{{ product.name }}"
               width="318" height="180">
        {% endif %}
        <div class="card-block">
          <h4 class="card-title">{{ product.name }}</h4>
          <p class="card-text">
            {{ product.description | excerpt }}
          </p>
          <p class="text-muted">
            <small>{{ time_tag(product.created_at) }}</small>
          </p>
        </div>
        <div class="card-footer text-right">
          <a href="{{ path_for('shop.show', {id: product.id}) }}" class="btn btn-primary">
            Voir ce produit
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

{% endblock %}