{% extends('@admin/layout.twig') %}

{% block title %}
    Blog{% if page > 1 %}, page {{ page }}{% endif %}
{% endblock %}

{% block content %}

    <p class="text-right">
        <a href="{{ path_for('shop.admin.create') }}" class="btn btn-primary">
            Créer un nouveau produit
        </a>
    </p>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {%  for item in items %}
            <tr>
                <td>{{ item.name }}</td>
                <td>
                    <a href="{{ path_for('shop.admin.edit', {id: item.id}) }}" class="btn btn-primary">Editer</a>
                    <form
                            style="display: inline;"
                            method="post"
                            action="{{ path_for('shop.admin.destroy', {id: item.id}) }}"
                            onsubmit="return confirm('Voulez vous vraiment supprimer cet article ? ');">
                        {{ csrf_input() }}
                        <input type="hidden" name="_METHOD" value="DELETE">
                        <button class="btn btn-danger" type="submit">
                            Supprimer
                        </button>
                    </form>
                </td>
            </tr
            {% endfor %}>
        </tbody>
    </table>

    {{ paginate(items, 'shop.admin.index') }}

{% endblock %}